/* ========== Lama Sans Font Face ========== */
@font-face {
  font-family: 'Lama Sans';
  src: url('../fonts/Lama_Sans/LamaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lama Sans';
  src: url('../fonts/Lama_Sans/LamaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lama Sans';
  src: url('../fonts/Lama_Sans/LamaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lama Sans';
  src: url('../fonts/Lama_Sans/LamaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lama Sans';
  src: url('../fonts/Lama_Sans/LamaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Lama Sans';
  src: url('../fonts/Lama_Sans/LamaSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #22293E;
  --secondary-color: rgb(235, 176, 40);
  --text-color: #101828;
  --light-primary-color: #F8F9FC;
  --light-secondary-color: rgba(240, 186, 62, 0.10);
  --gray-color: #606060;
  --light-gray: #FBFBFC;
  --desc-color: #535862;
  --placeholder: #8F92A1;
  /*///////// Font Size /////////*/
  --size-xs:12px;
  --size-sm:14px;
  --size-md:18px;
  --size-lg:20px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 24px;
  --form-control-padding: 10px;
  --main-inline-padding: 80px;

  /*/////////// Spacing //////////*/
  --gap-xs: 8px;
  --gap-sm: 12px;
  --gap-md: 16px;
  --gap-lg: 25px;

  /* ////////// Media Query ////////////*/
  --media-sm: 576px;
  --media-md: 991px;

  --red: #ff3d54;
  --success-color: #039855;
  --body-bg: #efefef;
}
/* Reset */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.desc{
  color: var(--gray-color);
}
body {
  font-family: 'Lama Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  background-color: var(--body-bg);
  color: var(--text-color);
  line-height: 1.3;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: #c3cec991;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}
::placeholder {
  font-size: var(--size-sm);
  font-weight: 400;
 color: var(--placeholder) !important;
}
h1 {
  font-size: var(--size-xl);
}
h2 {
  font-size: var(--size-lg);
}
h3 {
  font-size: var(--size-lg);
  font-weight: 600;
}
h4 {
  font-size: var(--size-md);
  font-weight: 600;
}
h5 {
  font-size: var(--size-sm);
  font-weight: 500;
}
h6 {
  font-size: var(--size-xs);
}
p {
  font-size: var(--size-sm);
  font-weight: 400;
}
.gap-xs {
  gap: var(--gap-xs);
}
.gap-sm {
  gap: var(--gap-sm);
}
.gap-md {
    gap: var(--gap-md);
}
.gap-lg {
    gap: var(--gap-lg);
}
option:disabled {
  color: gray;
  background-color: #f5f5f5;
}
a,
button,
img,
input {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.custom-anc,
.custom-anc:hover {
  text-decoration: none;
}
.icon {
  cursor: pointer;
}
.icon::before {
  transform: translate(0px, 1px);
}
.custom-btn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  gap: 5px;
  cursor: pointer;
  min-height: 40px;
  padding: 8px 14px;
  font-size: var(--size-sm);
  font-weight: 500;
  border-radius: var(--radius-sm);
}
.custom-btn:hover {
  opacity: 0.8;
}
.custom-table-btn {
  min-height: 36px;
}
.min-btn-width {
  min-width: 100px;
}

.custom-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*////////////////// Form Style /////////////////*/

label.form-label {
  font-size: var(--size-sm);
  font-weight: 500;
  margin-bottom: 8px;
}
input.form-control,
select.form-control,
select.form-select {
  border-radius: var(--radius-sm);
  padding: var(--form-control-padding);
  border: 1px solid #d5d7da;
  background-color: #fff;
  line-height: unset;
}
select.form-control:disabled,
select.form-select:disabled {
  appearance: none;
  -webkit-appearance: none;
  color: red;
}
.form-control:focus,
.form-select:focus {
  background-color: #f8f9fa !important;
  box-shadow: none !important;
  border: 1px solid var(--secondary-color) !important;
}
select.form-control,
select.form-select {
  appearance: none;
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: top 50% right 14px;
}
.custom-textarea {
  resize: none;
}
.form-group {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* Input type[file] style */
.file-input-hidden {
  display: none;
}
.file-label-style {
  height: 42.5px;
  background: #F2F4F6;
  color: var(--light-gray);
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html[dir="rtl"] select.form-control,
html[dir="rtl"] select.form-select {
  background-position: top 50% left 14px;
}

html[dir="rtl"] [type="email"],
html[dir="rtl"] [type="number"],
html[dir="rtl"] [type="tel"],
html[dir="rtl"] [type="url"] {
  direction: rtl;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-column-start {
  display: flex;
  flex-direction: column;
  align-items: start;
}
/*/////////////// Colors ///////////////*/
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color) !important;
}
.third {
    color: var(--third-color);
}
.white {
  color: var(--white-color);
}
.gray {
  color: var(--gray-color);
}
.light-gray {
  color: var(--light-gray);
}
.red {
  color: var(--red) !important;
}
.green {
  color: #309B0F;
}
.primary-bg {
  background-color: var(--primary-color) !important;
}
.secondary-bg {
  background-color: var(--secondary-color) !important;
}
/*////////////////// Grid System /////////////////*/
.grid {
  display: -ms-grid;
  display: grid;
  text-align: start;
  gap: 12px;
}
.grid-2 {
  -ms-grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
}
.grid-3 {
  -ms-grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}
.grid-4 {
  -ms-grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
}
.full-width {
  grid-column: 1 / -1;
}
/* errors / in-valid */
.error {
  color: var(--red) !important;
  margin-top: 4px;
  display: none;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: unset !important;
  border: 1px solid var(--red) !important;
}
.userlogin_input:has(.form-control.is-invalid) label {
  color: var(--red) !important;
}
/* buttons */
.secondary-btn {
  background-color: var(--secondary-color);
  color: #fff;
  border: 1px solid var(--secondary-color);
}
.primary-btn {
  background-color: var(--primary-color);
  color: #fff;
  border: 1px solid var(--primary-color);
}
.text-btn {
  border: 1px solid #E0E1E5;
  color: var(--text-color);
}
/* .edit-btn {
  background: #FB6514;
  color: #fff;
  border: 1px solid #FB6514;
} */
.success-btn {
   background-color: var(--success-color);
   color: #fff;
   border: 1px solid var(--success-color);
}
.danger-btn {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: #fff;
}
.warning-btn {
  background: #F59700;
  color: #fff;
}
.border-primary-btn {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.border-seconadry-btn {
  background-color: #fff;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.border-success-btn {
  color: var(--success-color);
  background-color: #fff;
  border: 1px solid var(--success-color);
}
.border-danger-btn {
  background-color: #fff;
  border: 1px solid var(--red);
  color: var(--red);
}
/* .light-secondary-btn {
  background-color: var(--light-secondary-color);
  color: var(--secondary-color);
  border: 1px solid var(--light-secondary-color);
} */
.max-height {
  max-height: 100% !important;
}
.h-img {
  height: 100%;
}
 i.custom-i {
  transform: translate(0px,1px);
}
.position-relative input[type="number"]::-webkit-inner-spin-button,
.position-relative input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control[readonly],
.readonly_select ,
.custom-textarea[readonly]
 {
  border: 1px solid #d5d7da !important;
  cursor: not-allowed;
  background-color: #F2F4F6 !important;
}
/* Firefox */
.position-relative input[type="number"] {
  -moz-appearance: textfield;
}
.modal-content {
  background-color: #fff;
}

.title {
  text-transform: capitalize;
  text-decoration: none;
}
.nowrap{
  white-space: nowrap;
} 
.input-icon {
  cursor: pointer;
  z-index: 111;
}
html[dir="rtl"] .header-actions .lang .header-badge {
  align-items: start;
}
@media screen and (max-width: 991.98px) {
  .navbar-nav {
    width: 100% !important;
    margin-block: 15px 60px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .grid-3 {
    -ms-grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-4 {
    -ms-grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    -ms-grid-template-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
  }
}


